SERVER_PORT=8081
CONFIG_SERVER_URL=http://localhost:8080
CONFIG_SERVER_USERNAME=YOUR_CONFIG_SERVER_USERNAME
CONFIG_SERVER_PASSWORD=YOUR_CONFIG_SERVER_PASSWORD
DB_HOST=localhost
DB_PORT=5432
DB_NAME=authorization_server_db
DB_SCHEMA=public
DB_USERNAME=authorization_server_user
DB_PASSWORD=authorization_server_password